#Data Manipulation 
numpy
pandas
scikit-learn

#Data Visualization
matplotlib
seaborn
plotly
grad-cam

#Audio processing
librosa
soundfile

#Deep Learning (PyTorch)
torch
torchvision
torchaudio

#VS Code Enviroment support
ipykernel


